<article id="movie" class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: <%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>
  
  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %> 
  </h3>
  
  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>
  
  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>
  
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

  <% if @movie.recent_reviews.any? %>
    <h3>Recent Reviews</h3>
    <ol id="reviews">
      <% @movie.recent_reviews.each do |review| %>
         <li><%= review.comment %> by <%= review.name %></li>
      <% end %>
    </ol>
    <p>
      Read all <%= link_to pluralize(@movie.reviews.count, "review"), 
                      movie_reviews_path(@movie) %>
    </p>
  <% end %>

  <h3>Write A Review | Overall: <%= format_average_stars(@movie) %></h3>
    <%= form_for([@movie, @review]) do |f| %>
    <%= render 'shared/errors', object: @review %>
    <p>
      <%= f.label :name %><br/>         
      <%= f.text_field :name, size: 40, autofocus: true %>
    </p>
    <p class='required stars'>
      <%= f.label :stars %>         
      <% Review::STARS.each do |star| %>
        <span class="star">
          <%= f.radio_button :stars, star %> <%= star %>
        </span>
      <% end %>
    </p>
    <p>
      <%= f.label :comment %><br/>
      <%= f.text_field :comment, size: 40 %>
    </p>
    <p>
      <%= f.submit 'Post Review' %>
  <% end %>
  </p>

  <footer>
    <%= link_to "Write Review", new_movie_review_path(@movie), 
             class: 'button ok review' %>
    <nav>
      <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
      <%= link_to 'Delete', @movie, 
                  class: 'button',
                  method: :delete, data: { confirm: 'Are you sure?' } %>
    </nav>
  </footer>
</article>
